<%= form_with(model: article) do |form| %>
    <%# error display %>
    <% if article.errors.any? %>
        <div>
            <h2>Error/s occurred. Try again.</h2>
            <ul>
                <% article.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        <div>
    <% end %>

    <%# form proper %>
    <div>
        <%= form.label :movie %>
        <%= form.text_field :movie %>
    </div>
    <div>
        <%= form.label :review %>
        <%= form.text_area :review %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>